{{> header}}
<div class="container mt-5">
  <h1 class="text-center mb-4" id="config-menu">Configuración</h1>
  <hr class="my-4 lineas" />
  <h5 class="card-title" id="config-subtitle">Configuración de colores</h5>
  <!-- Botones de colores -->
  <div class="d-flex justify-content-start">
    <button class="btn colorbtn bluepurple mr-3" aria-label="Azul a Morado" data-gradient="bluepurple"></button>
    <button class="btn colorbtn redyellow mr-3" aria-label="Rojo a Amarillo" data-gradient="redyellow"></button>
    <button class="btn colorbtn greenTurquoise" aria-label="Verde a Turquesa" data-gradient="greenTurquoise"></button>
  </div>
  <!-- Botones de idioma -->
  <hr class="my-4 lineas" />
  <h5 class="card-title" id="language">Idioma</h5>
  <div class="d-flex justify-content-start mt-4">
    <button class="btn btn-primary navbar-custom" style="margin-right: 20px" id="language-spanish"
      onclick="changeLanguage('es')">
      Español
    </button>
    <button class="btn btn-primary navbar-custom" id="language-english" onclick="changeLanguage('en')">
      Inglés
    </button>
  </div>
</div>

{{> footer}}