{{> header}}

<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="text-center mt-5">Mis Fichas Interactivas</h1>
        <div class="text-center mt-4">
            <a href="/fichas" class="btn btn-secondary">Volver</a>
        </div>
    </div>
    <div class="row">
        {{#fichas}}
        <div class="col-md-4 mb-4"> <!-- Agregado mb-4 aquí para separación vertical -->
            <div class="card h-100 shadow-sm">
                <img src="/f/ficha/image/{{id}}" class="card-img-top" alt="Vista previa de la ficha" style="height: 150px; object-fit: cover;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text text-muted">{{asignatura}}</p>
                    <form action="/f/seleccionarFicha" method="post">
                        <input type="hidden" name="fichaId" value="{{id}}">
                        <button type="submit" class="btn btn-primary navbar-custom">Ver Ficha</button>
                    </form>
                </div>
            </div>
        </div>
        {{/fichas}}
    </div>
    

    {{^fichas}}
    <div class="text-center mt-5">
        <p class="text-muted">Aún no has creado ninguna ficha.</p>
        <a href="/f/crearFichas" class="btn btn-success">Crear una ficha</a>
    </div>
    {{/fichas}}

</div>

{{> footer}}