<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-4 navbar-custom">
  <p id="all-rights">© 2024 SmartPlay. Derechos reservados.</p>
</footer>

<!-- Personalización -->
  
<script src="/js/CambioIdioma.js"></script>
<script src="/js/ModoOscuro.js"></script>
<script src="/js/NavBarSesion.js"></script>


<!-- Bootstrap JS, Popper.js, and jQuery -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

<!-- Para los juegos -->

<script src="https://cdn.jsdelivr.net/npm/interactjs@latest"></script>

</body>
</html>