{{> header}}

<!-- Main Content -->
<div class="container mt-4 flex-grow-1">
  <!-- Categories -->
  <div class="card-deck">

    <!-- Mostrar "Inicio" solo si no está logueado -->
    {{^isLogged}}
    <div class="card navbar-custom text-center">
      <img src="/images/generalImages/INICIOTITULO.png" class="cardVertical card-img-top limited-img" alt="Inicio" />
      <div class="card-body">
        <h5 class="card-title" id="start-menu">Inicio</h5>
        <a href="/regin" class="stretched-link"></a>
      </div>
    </div>

    {{/isLogged}}

    {{#isLogged}}

    <!-- Carta de Creación -->
     {{#isProfesor}}
    <div class="card navbar-custom text-center">
      <img src="/images/generalImages/CREACIONTITULO.png" class="cardVertical limited-img" alt="Creación" />
      <div class="card-body">
        <h5 class="card-title" id="creacion">Creación</h5>
        <a href="/creacion" class="stretched-link"></a>
      </div>
    </div>
    {{/isProfesor}}

    <!-- Carta de Grupo -->
    <div class="card navbar-custom text-center">
      <img src="/images/generalImages/GRUPOTITULO.png" class="cardVertical limited-img" alt="Grupo" />
      <div class="card-body">
        <h5 class="card-title" id="grupo">Grupo</h5>
        <a href="/grupo" class="stretched-link"></a>
      </div>
    </div>


    {{/isLogged}}
  

    <!-- Carta de Investigar Fichas -->
    <div class="card navbar-custom p-0 text-center">
      <form action="/f/investigar" method="get" class="h-100 w-100">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <button type="submit" class="btn p-0 h-100 w-100 text-center" style="border: none; background: none; color: white;">
          <img src="/images/generalImages/FICHASTITULO.png" class="cardVertical limited-img card-img-top" alt="Investigar Fichas" />
          <div class="card-body">
            <h5 class="card-title" id="explore">Investigar Fichas</h5>
          </div>
        </button>
      </form>
    </div>

    <!-- Carta de Investigar Juegos -->
<div class="card navbar-custom p-0 text-center">
  <form action="/juegos/investigar" method="get" class="h-100 w-100">
    <input type="hidden" name="_csrf" value="{{token}}" />
    <button type="submit" class="btn p-0 h-100 w-100 text-center" style="border: none; background: none; color: white;">
      <img src="/images/generalImages/JUEGOSTITULO.png" class="cardVertical limited-img card-img-top" alt="Investigar Juegos" />
      <div class="card-body">
        <h5 class="card-title" id="juegos">Investigar Juegos</h5>
      </div>
    </button>
  </form>
</div>


  </div>
</div>


{{> footer}}
