{{> header}}

<!-- Main Content -->
<div class="container mt-4 flex-grow-1">
  <!-- Categories -->
  <div class="card-deck ">
    <div class="card navbar-custom">
      <img src="/images/generalImages/Inicio.jpg" class="card-img-top limited-img " alt="Inicio" />
      <div class="card-body">
        <h5 class="card-title" id="start-menu">Inicio</h5>
        <a href="/regin" class="stretched-link"></a>
      </div>
    </div>
    <div class="card navbar-custom">
      <img src="/images/generalImages/fichas2.jpg" class="card-img-top limited-img " alt="Fichas" />
      <div class="card-body">
        <h5 class="card-title" id="files-menu">Fichas</h5>
        <a href="/fames" class="stretched-link"></a>
      </div>
    </div>
    <div class="card navbar-custom">
      <img src="/images/generalImages/Estadisticas.jpg" class="card-img-top limited-img " alt="Estadísticas" />
      <div class="card-body">
        <h5 class="card-title" id="statistics-menu">Estadísticas</h5>
        <a href="/ImagenPrueba" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>


{{>footer}}
