{{> header}}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Iniciar Sesión</h2>

      <!-- Mostrar error si existe -->
      {{#error}}
      <div class="alert alert-danger">
          {{error}}
      </div>
      {{/error}}

      <form action="/users/login" method="post">
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@gmail.com" required>
        </div>
        <!-- Contraseña -->
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
        </div>
        <!-- Botón de inicio de sesión -->
        <div class="d-grid navba">
          <button type="submit" class="btn btn-primary navbar-custom">Iniciar Sesión</button>
        </div>
      </form>

      <p class="text-center mt-3">
        ¿No tienes cuenta? <a style="margin-left: 5px;"href="/signup">Regístrate aquí</a>
      </p>
    </div>
  </div>
</div>

{{> footer}}
