{{> header}}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Registrarse</h2>

        <!-- Mostrar error si existe -->
        {{#error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {{/error}}
        
        <form action="/users/register" method="post">

          <!--Imagen oculta por defecto-->
          <input type="hidden" name="photo" value="/images/userImages/Default.png">

          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nombre" required>
          </div>
          <!-- Edad -->
          <div class="mb-3">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" class="form-control" id="edad" name="edad" placeholder="Tu edad" required>
          </div>
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@gmail.com" required>
          </div>
          <!-- Contraseña -->
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
          </div>
          <!-- Selección de rol -->
          <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-select" id="rol" name="rol" required>
              <option value="">Selecciona un rol</option>
              <option value="ALUMNO">Alumno</option>
              <option value="PROFESOR">Profesor</option>
            </select>
          </div>
          <!-- Botón de registro -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </form>
        <p class="text-center mt-3">
          ¿Ya tienes cuenta? <a href="/signin">Inicia sesión</a>
        </p>
      </div>
    </div>
  </div>
  {{>footer}}
