{{> header}}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4" id="register">Registrarse</h2>

        <!-- Mostrar error si existe -->
        {{#error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p>{{error}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">Cerrar</button>
        </div>
        {{/error}}
        
      
        
        <form action="/users/register" method="post">

          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label" id="name">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" maxlength="15" placeholder="Tu nombre" required>
          </div>
          <!-- Edad -->
          <div class="mb-3">
            <label for="edad" class="form-label" id="age">Edad</label>
            <input type="number" class="form-control" id="edad" name="edad" placeholder="Tu edad" required>
          </div>
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label" id="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@gmail.com" required>
          </div>
          <!-- Contraseña -->
          <div class="mb-3">
            <label for="password" class="form-label" id="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
          </div>
          <!-- Selección de rol -->
          <div class="mb-3">
            <label for="rol" class="form-label" id="role">Rol</label>
            <select class="form-control" id="rol" name="rol" required>
              <option value="" id="select-role">Selecciona un rol</option>
              <option value="ALUMNO" id="student">Alumno</option>
              <option value="PROFESOR" id="teacher">Profesor</option>
            </select>
          </div>
          
          <!-- Botón de registro -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary navbar-custom" id="register">Registrarse</button>
          </div>

        </form>

        <p class="text-center mt-3">¿Ya tienes cuenta?
          <a href="/login">Inicia sesión</a>
        </p>
      </div>
    </div>
  </div>
  {{>footer}}
