{{> header}}

<!-- Main Content -->
<div class="container mt-4 flex-grow-1">
  <!-- Volver Button -->
  <div class="d-flex justify-content-start mb-4">
    <a href="/creacion" class="btn btn-secondary">Volver</a>
  </div>

  <!-- Categorias -->
  <div class="card-deck">
    <div class="card mb-3 shadow-sm" id="card-crear-cuaderno">
      <img src="/images/generalImages/CREARCUADERNO.png" class="card-img-top" alt="Crear Fichas" />
      <div class="card-body navbar-custom">
        <h5 class="card-title" id="">Crear Cuaderno</h5>
        <a href="/cuadernos/crear" class="stretched-link"></a>
      </div>
    </div>
    <div class="card mb-3 shadow-sm" id="card-ver-cuadernos">
      <img src="/images/generalImages/CREARCUADERNO.png" class="card-img-top" alt="Ver Fichas" />
      <div class="card-body navbar-custom">
        <h5 class="card-title" id="">Ver Cuadernos</h5>
        <a href="/cuadernos" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>


{{> footer}}