{{> header}}

<!-- Main Content -->
<div class="container mt-4 flex-grow-1">
  <!-- Volver Button -->
  <div class="d-flex justify-content-start mb-4">
    <a href="/fames" class="btn btn-secondary">Volver</a>
  </div>

  <!-- Categorías -->
  <div class="card-deck">
    <!-- Card 1: Crear Juego Ahorcado -->
    <div class="card mb-3 shadow-sm">
      <img src="/images/generalImages/CREARJUEGO.png" class="card-img-top" alt="Crear Juego Ahorcado" />
      <div class="card-body navbar-custom">
        <h5 class="card-title">Crear Juego Ahorcado</h5>
        <a href="/juegos/ahorcado/crear" class="stretched-link"></a>
      </div>
    </div>

    <!-- Card 2: Ver Juegos Ahorcado -->
    <div class="card mb-3 shadow-sm">
      <img src="/images/generalImages/VERJUEGO.png" class="card-img-top" alt="Ver Juegos Ahorcado" />
      <div class="card-body navbar-custom">
        <h5 class="card-title">Ver Juegos Ahorcado</h5>
        <a href="/juegos/ahorcado/listar" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

{{> footer}}