{{>header}}

<div class="container mt-5">
  <h1 class="text-center mb-4">Selecciona tu ficha de actividades</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/ahorcado" class="card h-100 text-white text-decoration-none navbar-custom">
        <div class="card-body">
          <h5 class="card-title">Ahorcado</h5>
          <p class="card-text">
            Explora actividades como palabras ocultas y adivinanzas.
          </p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/sopa" class="card h-100 text-white text-decoration-none navbar-custom">
        <div class="card-body">
          <h5 class="card-title">Sopa de Letras</h5>
          <p class="card-text">Busca y selecciona palabras escondidas.</p>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/fichas/crucigrama.html" class="card h-100 text-white text-decoration-none navbar-custom">
        <div class="card-body">
          <h5 class="card-title">Crucigrama</h5>
          <p class="card-text">Completa crucigramas interactivos.</p>
        </div>
      </a>
    </div>
  </div>
</div>

{{>footer}}